/* @import url('https://fonts.googleapis.com/css2?family=Asap&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* body {
    color: white;
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


section {
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

section:nth-child(odd) {
    /* color: #e0ffff; */
    background-image: url("g2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: inset 0 $offset $blur-radius (-$spread-radius), inset 0 (-$offset) $blur-radius (-$spread-radius); */
    /* background: radial-gradient(transparent 20%, white 70%); */
}

section:nth-child(even) {
    background-color: #0e0e18;
    background-size: cover;
}

.logo {
    
    font-size: 2em;
    color: rgb(26, 77, 33);
    user-select: none;
    animation: slideRight 1s ease forwards;

}

img {
    width: 40px;
    height: 40px;
    margin-bottom: -8px;
    margin-right: 5px;
    opacity: 90%;
}

.navbar a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.navbar a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.login {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    margin-left: 40px;
    transition: .5s;
    color: white;
}

.login:hover {
    scale: 1.2;
    background: rgb(255, 255, 255);
    color: rgb(26, 41, 40);
}

.slogan {
    margin-left: 40px;
    color: #161b17;
}

.slogan .sl2 {
    /* padding-top: 50px; */
    font-size: 1.4em;
}

.slogan .sl1 {
    margin-bottom: -10px;
    padding-left: 40px;
    font-weight: 300;
    font-size: 1.4em;
    font-family: 'Michroma', sans-serif;
}

.gogreen {
    font-family: 'Michroma', sans-serif;
    font-size: 95px;
    line-height: 100px;
    color: transparent;
    -webkit-text-stroke: 0.0001px #04040400;
    background: url(diagonal-stripe-green-and-black-pattern-free-vector.webp);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

h1 {
    font-size: 50px;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid  rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .5s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .loginform {
    width: 100%;
    padding: 40px;
}

.wrapper .signup {
    width: 100%;
    padding: 40px;
}

.wrapper .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #386e45b6;
    font-size: 2em;
    color: #c9c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .signup{
    position: absolute;
    transform: translateX(400px);
    transition: transform .5s ease;
}

.wrapper .loginform {
    /* display: none; */
    transition: transform .4s ease;
    transform: translateX(0);
}

.wrapper.active .loginform {
    position: absolute;
    transform: translateX(-400px);
}

.wrapper.active .signup {
    /* display: none; */
    transition: transform .4s ease;
    transform: translateX(0);
}


.wrapper h2 {
    font-size:  2em;
    color: rgb(58, 129, 65);
    text-align: center;
}

.input {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(58, 129, 65);
    margin: 30px 0;
}

.input label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(58, 129, 65);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input input:focus~label,
.input input:valid~label {
    top: -5px;
}

.input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(58, 129, 65);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(58, 129, 65);
    line-height: 57px;
}

.btn {
    width: 100%;
    height: 45px;
    background: rgb(58, 129, 65);
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.register {
    font-size: .9em;
    color: rgb(104, 104, 104);
    text-align: center;
    font-weight: 400;
    margin: 25px 0 10px;
}

.register p a {
    color: rgb(58, 129, 65);
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.sec2 {
    display: block;
}

.why {
    color: rgb(64, 95, 64);
    font-size: 70px;
    margin-left: 4%;
    padding-top: 10%;
}

.why-s {
    color: rgb(131, 131, 131);
    margin-left: 4%;
    font-size: 30px;
}

.why-c {
    color: #ffffff;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 30px;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

@media (max-width: 900px) {
    section h1 {
        font-size: 2rem;
        text-align: center;
    }
    section .text-container {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

body {
    display: block;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas: "main" "." "footer";
    overflow-x: hidden;
    background: #f5f7fa;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
body .footer {
    margin-top: -140px;
    z-index: 1;
    --footer-background: rgb(26, 77, 33);
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}
body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}
body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}
body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
    color: #f5f7fa;
    text-decoration: none;
}
body .footer .content b {
    color: white;
}
body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
}
body .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body .footer .content > div > div {
    margin: 0.25rem 0;
}
body .footer .content > div > div > * {
    margin-right: 0.5rem;
}
body .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}
@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
   }
    100% {
        width: 0rem;
        height: 0rem;
   }
}
@keyframes bubble-move {
    0% {
        bottom: -4rem;
   }
    100% {
        bottom: var(--distance, 10rem);
   }
}
